
/*
CSS for show.js component or 'OMS show page'.
*/

.btn {
    float: right;
    margin: 5px;
}

h2,
h3 {
    text-align: center;
    margin: 30px;
}

td,
tr {
    padding: 6px;
}

table {
    width: 50%;
    margin: 0 auto;
    border: 2px solid
}

.tabledata {
    display: flex;
    margin: 15px auto;
    flex-wrap: wrap;
    flex-direction: column
}